@import '../../App.less';
@import '~nav-frontend-core/less/core';

.tiltaksvisning__grid {
  display: grid;
  grid-template-columns: 15vw 1fr 15vw;
  grid-template-rows: auto auto 3rem auto;

  .tilbakeknapp {
    grid-row: 1;
    grid-column: 1;
    padding: 0.5rem;
    max-width: max-content;
  }

  .tiltaksnummer {
    .tilbakeknapp;
    grid-column: 2;
  }

  .veiledervisning__toggle__container {
    grid-row: 1;
    grid-column: 2 / 4;
    margin-left: auto;
  }

  .generell-informasjon {
    grid-column: 2;
    grid-row: 2/4;

    img {
      height: auto;
      max-width: 100%;
      max-height: 50vh;
    }

    .beskrivelse {
      margin-top: -150px;
      position: relative;
      margin-left: auto;
      width: 67%;
      background-color: @navLysGra;
      padding: 2rem;

      box-shadow: 10px 10px @nav_teal;

      h1 {
        text-align: center;
        margin: auto;
      }
    }
  }

  .fane__oversikt {
    grid-column: 1 / 4;
    grid-row-start: 4;
    background-color: rgba(179, 193, 0, 0.4);
    padding-top: 0.7rem;
    margin-top: 3rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 4px solid @nav_teal;

    .nav-frontend-tabs {
      border: 0;

      &__tab-list {
        justify-content: space-evenly;
      }

      &__tab-inner {
        background-color: white;

        &--aktiv {
          padding-bottom: calc(0.3rem + 4px);
          margin-bottom: -4px;
          background-color: @navLysGra;
          border-bottom: 0;
          box-shadow: none;
        }

        .nav-frontend-tabs__tab-label {
          .remove-link-style;
        }
      }
    }
  }

  .fane__innhold {
    grid-row: 5;
    grid-column: 1 / 4;
    background-color: @navLysGra;
    width: 100%;
    padding: 3.5rem 0;

    .panel {
      margin: auto;
      margin-top: 2rem;
      width: 70%;
      background-color: white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .panel :first-child {
      margin-top: 0;
    }
  }
}
