.custom_ekspanderbart_panel {
  border: 1px solid #6a6a6a;
  width: max-content;

  button {
    background-color: rgba(179, 193, 0, 0.4);
  }
}

.ekspanderbartpanel_checkbox {
  margin: 1rem;
}

@stedfilter_bredde: 15.5rem;

.stedsfilter {
  width: @stedfilter_bredde;
}

.filteroversikt {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.5rem;
}

.innrykket_checkbox {
  margin-left: 1rem;
}
