.custom__ekspanderbartpanel {
  border: 1px solid #6a6a6a;
  width: 20rem;

  button {
    background-color: rgba(179, 193, 0, 0.4);
  }
}

.ekspanderbartpanel__checkbox {
  margin: 1rem;
}

@stedfilter_bredde: 15.5rem;

.stedsfilter {
  grid-column: 1;
  grid-row-start: 3;
  grid-row-end: 5;
  width: @stedfilter_bredde;
  height: fit-content;
}

.innrykket-checkbox {
  margin-left: 1rem;
}
